services:
  # Backend API
  - type: web
    name: burnout-api
    runtime: python
    env: python
    buildCommand: pip install -r requirements.txt && python scripts/init_models.py
    startCommand: uvicorn api.main:app --host 0.0.0.0 --port $PORT
    healthCheckPath: /health
    envVars:
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_S3eaGPdmBzn4@ep-rapid-grass-aiuta04r-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
      - key: WANDB_API_KEY
        value: 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
      - key: ENVIRONMENT
        value: production
      - key: MODEL_PATH
        value: models/best_model.joblib
      - key: PREPROCESSOR_PATH
        value: models/preprocessor.joblib

  # Frontend Streamlit
  - type: web
    name: burnout-frontend
    runtime: python
    env: python
    buildCommand: pip install streamlit requests python-dotenv
    startCommand: streamlit run frontend/streamlit_app.py --server.port $PORT --server.address 0.0.0.0
    envVars:
      - key: API_URL
        fromService:
          type: web
          name: burnout-api
          property: url
      - key: ENVIRONMENT
        value: production
